In [21]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline

In [4]:
df = pd.read_csv("./data/data.csv")

In [32]:
def compare(df, a, b, c):
    return np.sum((df[a] + '_' + df[b]) == df[c])

def do_compare(df, triplets):
    for t in triplets:
        print("{}: {}".format(t, compare(df, t[0], t[1], t[2])))

In [33]:
triplets = [('0','9','18'), ('5','14','23'), ('7','16','25'), ('8','17','26'), ('56', '57', '58')]
do_compare(df, triplets)

('0', '9', '18'): 126837
('5', '14', '23'): 126837
('7', '16', '25'): 126837
('8', '17', '26'): 126837
('56', '57', '58'): 109177

In [45]:
np.sum(df['56'] == 'na') + compare(df, '56', '57', '58') == df['56'].count()

True

In [49]:
np.sum(df['56'] == 'na') == np.sum(df['57'] == 'na') and np.sum(df['56'] == 'na') == np.sum(df['58'] == 'na')

True

In [50]:
np.sum(df['56'] == 'na')

17660